@font-face { font-family:Gruppo; src:url("/images/Gruppo-Regular.ttf"); }
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#leftZone {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 5%;
    z-index: 200;
}
#rightZone {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 5%;
    z-index: 200;
}

#search {
    float: left;
}

#playerView, #searchView {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

#searchView {
    background-color: white;
}

#descriptionBox {
    color: #bbbbbb;
    width: 49%;
    float: left;
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
    position: relative;
}
#title {
    color: white;
    font-size: 40px;
}
#album {
    color: white;
    font-size: 24px;
}
#artist {
    color: white;
    font-size: 24px;
}
#coverArtBox {
    color: #bbbbbb;
    width: 49%;
}

#searchBox {
    font-size: 18px;
    margin: 10px;
}
#playlistBox, #songBox {
    font-size: 12px;
    margin: 10px;
    width: 45%;
}
#playerControlView {
    background: rgba(44, 44, 44, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}
#progressBar {
    position: absolute;
    height: 4px;
    width: 100%;
    border: 0;
}

progress::-webkit-progress-bar-value,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    background-color:#BBB
}

#timeField {
    position: absolute;
    height: 20px;
    width: 100%;
    border: 0;
    color: white;
    font-size: 40px;
    margin-top: 3px;
}


/*Message Box*/
#messageBox {
    position: absolute;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    width: 100%;
    height: 100%;
}

#messageContent {
    width: 300px;
    background-color: #EEE;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    padding: 10px;
    font-size: 12px;
}


#mainWrapper {
    -webkit-transform: scale(1,1);
    -webkit-box-align: center;
    top:0;
    left:0;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
}

#entry1 {
    -webkit-transform: translate(0px,0px);
}

.mainEntries {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
}

#fileView {
    -webkit-box-pack: justify;
}

#dropZone {
    width: 40%;
    background-color: #EEE;
    border: 5px dashed #CCC;
    color: #CCC;
    border-radius: 10px;
    margin: 0 10px;
}


/*file browser*/
#fileBrowser {
    width: 40%;
    overflow: scroll;
    background-color: #EEE;
    border: 5px dashed #CCC;
    border-radius: 10px;
    margin: 0 10px;
    color: #333;
    text-shadow: 1px 1px 1px whiteSmoke;
}

#header {
    padding: 5px;
    float: left;
}
#usage{
    padding: 5px;
    float: right;
}

#fileLists{
    margin: 30px 0;
}

ul {
    list-style: none;
    margin-left: -20px;
}

div.entry.file {
    cursor: pointer;
}
div.entry.dir {
    cursor: pointer;
    font-weight: bold;
}

#googleView {
    font-family: Gruppo, sans-serif;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 60%;
    height: 60%;
    text-shadow: 1px 1px 1px white;
}

#googleFiles {
    height: 80%;
    background-color: #D5D5D5;
    overflow: scroll;
    border-top: 1px solid #EEE;
}

#userInfo {
    padding: 0 5px;
    height: 20%;
    background-color: #CCC;
    border-bottom: 1px solid #999;
}
#totalSize {
    float: right;
    position: absolute;
    top: 0;
    right: 10px;
}
#usedSize {
    float: right;
    right: 5px;
    position: relative;
}